@use "src/styles/partials/colors";
.ratings {
    background: colors.$white;
    box-shadow: 0px 0px 0 1pxpx rgba(0, 0, 0, 0.08),
      0px 6px 24px rgba (0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px 10px 18px 18px;
  
    .header {
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 18px;
      }
      Button {
        width: 180px;
      }
    }
  }

  .inventory-modal {
    background-color: colors.$white;
    border-radius: 10px;
    min-width: 790px;
    height: 438px;
    padding: 14px 48px 32px 48px;
    .topper {
      display: flex;
      gap: 15px;
  
      .left {
        width: 100%;
      }
  
      .right {
        width: 100%;
      }
    }
    .bottom {
      display: flex;
      gap: 15px;
      .left{
          width: 100%;
      }
      .right{
          width: 100%;
      }
    }
    .details{
      text-align: center;
      font-weight: 500;
    }
    .submit{
      width: 350px;
      margin:auto;
    }
  
    .edit-submit{
      display: flex;
      gap: 32px;
    }
    h3{
      font-weight: 500;
    }
  }

  .outlet-table{
    .filter {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        width: 100%;
        .search {
          width: 1800px;
        }
        .date {
          width: 700px;
        }
        Button {
          width: 300px;
          height: 48px;
          margin-top: 15px;
        }
      }
  }